@model IEnumerable<MyClass.Hayvan>


  @* <div class="row product__filter">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
            <div class="product__item">

                <div class="product__item__pic set-bg" data-setbg="/img/hayvan/@item.Resim1">
                    <ul class="product__hover">
                        <li><a href="#"><img src="~/yeni/img/icon/heart.png" alt=""></a></li>
                        <li><a href="#"><img src="~/yeni/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                        <li><a href="#"><img src="~/yeni/img/icon/search.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6>@item.Isim</h6>
                    <a asp-controller="Hayvan" asp-action="Details" asp-route-id="@item.HayvanId">Profile git</a>
                    <div class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="product__color__select">
                        <label for="pc-4">
                            <input type="radio" id="pc-4">
                        </label>
                        <label class="active black" for="pc-5">
                            <input type="radio" id="pc-5">
                        </label>
                        <label class="grey" for="pc-6">
                            <input type="radio" id="pc-6">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>   *@


  <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="/img/hayvan/@item.Resim1">
                <ul class="product__hover">
                        <li><a href="#"><img src="~/yeni/img/icon/heart.png" alt=""></a></li>
                    <li>
                            <a href="#"><img src="~/yeni/img/icon/compare.png" alt=""> <span>Compare</span></a>
                    </li>
                        <li><a href="#"><img src="~/yeni/img/icon/search.png" alt=""></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                    <h6>@item.Isim</h6>
                    <a href="/Hayvan/Details1/@item.HayvanId">Profile git</a>
                <div class="rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                
                <div class="product__color__select">
                    <label for="pc-4">
                        <input type="radio" id="pc-4">
                    </label>
                    <label class="active black" for="pc-5">
                        <input type="radio" id="pc-5">
                    </label>
                    <label class="grey" for="pc-6">
                        <input type="radio" id="pc-6">
                    </label>
                </div>
            </div>
        </div>
    </div>
    }
</div> 


