<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3123.3848010255947!2d42.160803974730044!3d38.47876187129875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400d3adeffb36fbd%3A0x43d001201bcf31ee!2sBitlis%20Eren%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1719078293749!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Map End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Bilgi</span>
                        <h2>İletişim</h2>
                        <p>
                            Yüksek kaliteli iç mekan yüklenicisi olarak başlayan bir şirketten beklendiği gibi, titiz bir dikkat gösteriyoruz.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>Türkiye</h4>
                            <p>112 E Parker Square Dr, Parker, CO 801 <br />+90 545 321 9678</p>
                        </li>
                        <li>
                            <h4>Fransa</h4>
                            <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Ad">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="E-posta">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Mesaj"></textarea>
                                <button type="submit" class="site-btn">Mesaj Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
